apiVersion: 1

datasources:
  - name: Loki
    type: loki
    uid: loki
    url: http://loki:3100
    access: proxy
    isDefault: false

  - name: Mimir
    type: prometheus
    uid: mimir
    url: http://mimir:9009/prometheus
    access: proxy
    isDefault: true

  - name: Tempo
    type: tempo
    uid: tempo
    url: http://tempo:3200
    access: proxy
    isDefault: false

  - name: BigQuery SANA
    type: grafana-bigquery-datasource
    uid: bigquery-sana
    access: proxy
    isDefault: false
    jsonData:
      authenticationType: jwt
      defaultProject: extended-legend-483920-v0
      tokenUri: https://oauth2.googleapis.com/token
      clientEmail: ${BIGQUERY_CLIENT_EMAIL}
    secureJsonData:
      privateKey: ${BIGQUERY_PRIVATE_KEY}
    editable: true
